@using Vladimir_Georgiev_employees.Models.Response;
@model BaseResponseModel<IEnumerable<ProjectEmployeePairModel>>;

@{
    ViewData["Title"] = "Home Page";
}
<div style="display:flex; justify-content: space-between">
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <div style="display:grid;">
            <input type="file" name="csvFile" />
            <button style="margin-top:1rem;" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <a style="align-self:center;" href="/home/download" class="btn-warning btn">Download example .csv file</a>
</div>

<hr />

@if (!Model?.IsSuccess ?? false)
{
    <div style="margin-top: 1rem; margin-bottom:1rem; color:red">
        @Model!.ErrorMessage
    </div>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                EmployeeID #1
            </th>
            <th>
                EmployeeID #2
            </th>
            <th>
                Project ID
            </th>
            <th>
                Days Worked
            </th>
        </tr>
    </thead>
    @if (Model!.Data?.Any() ?? false)
    {
        <tbody class="tbody">
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@(item.EmployeesPair?.Employee1?.EmployeeId ?? "NULL")</td>
                    <td>@(item.EmployeesPair?.Employee2?.EmployeeId ?? "NULL")</td>
                    <td>@item.ProjectId</td>
                    <td>@(item.EmployeesPair?.DaysWorkedTogether.ToString() ?? "No pairs found for this project")</td>
                </tr>
            }
        </tbody>
    }
</table>

@if (Model!.IsSuccess &&
    (Model!.Data == null || !Model!.Data.Any()))
{
    <div style="margin-top: 1rem; margin-bottom:1rem; color:darkorange">
        No employees found.
    </div>
}